.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.stepOneImage {
  position: relative;
  width: 100%;
  height: 100%;
}

.stepCount {
  color: #ef8094;
}

@media screen and (min-width: 430px) {
  .container {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 6rem;
    order: 1; /* Forces this element to appear first */
    align-self: flex-start;
    margin: auto;
  }

  .stepOneImage {
    position: relative;
    background-image: url("../../../assets/ui/work3.png");
    height: 390px;
    aspect-ratio: 1/1;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .stepCount {
    position: absolute;
    top: -1rem;
    left: -2rem;
    font-size: 14rem;
    font-family: Roboto;
    font-weight: 400;
  }
}

@media screen and (max-width: 430px) {
  .container {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 3rem;
  }

  .stepOneImage {
    position: relative;
    background-image: url("../../../assets/ui/work3.png");
    height: 390px;
    aspect-ratio: 1/1;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .stepCount {
    position: absolute;
    top: -1rem;
    left: -2rem;
    font-size: 14rem;
    font-family: Roboto;
    font-weight: 400;
  }
}
