.container {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    align-self: flex-start;
    margin-top: 6rem;
  }

  .stepOneImage {
    position: relative;
    background-image: url("../../../assets/ui/work1.png");
    height: 390px;
    width: fit-content;
    aspect-ratio: 1/1;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .stepCount {
    position: relative;
    top: -5.5rem;
    left: -23rem;
    font-size: 14rem;
    font-family: Roboto;
    font-weight: 400;
    color: #ef8094;
  }
  

  
  @media only screen and (max-width: 1600px) {
    .container {
      position: relative;
      display: flex;
      height: 100%;
      width: 100%;
      align-self: flex-start;
      margin-top: 6rem;
    }
  
    .stepOneImage {
      position: relative;
      background-image: url("../../../assets/ui/work1.png");
      height: 390px;
      width: fit-content;
      aspect-ratio: 1/1;
      background-size: contain;
      background-repeat: no-repeat;
    }
  
    .stepCount {
      position: relative;
      top: -5.5rem;
      left: -23rem;
      font-size: 14rem;
      font-family: Roboto;
      font-weight: 400;
      color: #ef8094;
    }
  }
  
  @media only screen and (max-width: 1024px) {
      .container {
        position: relative;
        display: flex;
        height: 100%;
        width: 50%;
        align-self: flex-start;
        left: 2rem;
      }
    
      .stepOneImage {
        position: relative;
        background-image: url("../../../assets/ui/work1.png");
        height: 390px;
        width: fit-content;
        aspect-ratio: 1/1;
        background-size: contain;
        background-repeat: no-repeat;
      }
    
      .stepCount {
        position: relative;
        top: -5.5rem;
        left: -23rem;
        font-size: 14rem;
        font-family: Roboto;
        font-weight: 400;
        color: #ef8094;
      }
    }
  
  @media only screen and (max-width: 550px) {
    .container {
      position: relative;
      display: flex;
      height: 100%;
      width: 80%;
      margin-top: 3rem;
      align-self: center;
    }
  
    .stepOneImage {
      position: relative;
      background-image: url("../../../assets/ui/work1.png");
      height: 390px;
      aspect-ratio: 1/1;
      background-size: contain;
      background-repeat: no-repeat;
    }
  
    .stepCount {
      position: absolute;
      top: -1.5rem;
      left: -2.5rem;
      font-size: 14rem;
      font-family: Roboto;
      font-weight: 400;
      color: #ef8094;
    }
  }
  